@import url(https://fonts.googleapis.com/css2?family=Aldrich&display=swap);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Aldrich", sans-serif;
  color: white;
  background-image: url(../assets/img/matrix_background.jpg);
  background-size: cover;
}

img {
  width: 100%;
}

.quote {
  text-align: justify;
}

.blue-pill {
  color: blue;
}

.red-pill {
  color: red;
}

.btn {
  background-color: black;
  border: 1px solid #09a603;
  border-radius: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 75%;
  }

  .quote {
    font-size: 1.2em;
  }
}

@media (min-width: 992px) {
  img {
    width: 60%;
  }

  .btn {
    width: 50% !important;
  }

  .quote {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  img {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .btn {
    width: 30% !important;
  }
}
