@import url(https://fonts.googleapis.com/css2?family=Aldrich&display=swap);

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/img/matrix_background.jpg);
  background-position: cover;
  font-family: "Aldrich", sans-serif;
  color: white;
}

.col-navbar {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #09a603;
  border-radius: 15px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand {
  width: 65%;
}

.nav-link {
  color: white !important;
}

.navbar-toggler-icon {
  width: 2em;
  height: 2em;
}

.col-overview {
  text-align: justify;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #09a603;
  border-radius: 15px;
}

h1 {
  font-size: 1.3em;
  text-shadow: 3px 3px 3px #09a603;
}

.paragraph {
  font-size: .9em;
}

i {
  text-shadow: 3px 3px 3px #09a603;
  font-weight: bold;
}
